<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="jungle" class="com.caveofprogramming.spring.test.Jungle">
		<property name="animals">
			<list>
				<ref bean="snake" />
				<ref bean="elephant" />
				<ref bean="lion" />
			</list>
		</property>
	</bean>

	<bean id="lion" class="com.caveofprogramming.spring.test.Animal">
		<property name="type" value="lion"></property>
		<property name="size" value="medium"></property>
	</bean>
	<bean id="elephant" class="com.caveofprogramming.spring.test.Animal">
		<property name="type" value="elephant"></property>
		<property name="size" value="large"></property>
	</bean>
	<bean id="snake" class="com.caveofprogramming.spring.test.Animal">
		<property name="type" value="snake"></property>
		<property name="size" value="small"></property>
	</bean>
</beans>
